header {
  position: fixed;
}

header nav ul li {
  display: inline;
}

.hero-image-section {
	background-image: url("../images/sunset.jpg");
	background-attachment: fixed;
	background-size: cover;
	padding: 200px 0;
	text-align: center;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}

.sunset {
	width: 250px;
	display: inline-block;
	margin-top: 30px;
	padding: 35px 20px;
}

.sunset img {
	width: 250px;
	border: 1px solid black;
}

.sunset:hover {
	box-shadow: 1px 1px 1px #333;
}
